.custom-form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.custom-form .form-group {
    margin-bottom: 20px;
}

.custom-form input[type="text"],
.custom-form input[type="password"],
.custom-form input[type="email"],
.custom-form select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10px;
}

.custom-form input[type="text"]:focus,
.custom-form input[type="password"]:focus,
.custom-form input[type="email"]:focus,
.custom-form select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0px 0px 5px rgba(102, 175, 233, 0.5);
}

.custom-form button[type="submit"] {
    background-color: #337ab7;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.custom-form button[type="submit"]:hover {
    background-color: #286090;
}

/* Custom styling for table */
.table-custom {
    border-collapse: collapse;
    width: 100%;
}

.table-custom th,
.table-custom td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-custom th {
    background-color: #343a40;
    color: #fff;
}

.table-custom tbody tr:hover {
    background-color: #f5f5f5;
}

.panel {
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.panel-heading {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0.5rem;
}
.panel-body {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
}

.page-header{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}
